$blue: #1239bc;
$green: #00ff7f;

main {
  background-color: $green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 1rem;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}

.container {
  width: 80vw;
  max-width: 700px;
  color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.definition {
  margin-top: 1rem;
}

.info {
  width: 100%;
}
